<a href="https://colab.research.google.com/github/cheesecakephobia/Abalon_predition/blob/main/KNN_abalone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor

In [ ]:
filename = '/content/drive/MyDrive/Colab Notebooks/abalone.txt'
df = pd.read_csv(filename, header= None)
df.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [ ]:
 df.rename(columns ={0: "Sex", 1: "Length (mm)", 2: 'Diameter (mm)',3: 'Height(mm)',4:'Whole weight (grams)',5:'Shucked weight (grams)',6:'Viscera weight (grams)',7:'Shell weight (grams)',8:'Rings'}, inplace = True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sex                     4177 non-null   object
 1   Length (mm)             4177 non-null   float64
 2   Diameter (mm)           4177 non-null   float64
 3   Height(mm)              4177 non-null   float64
 4   Whole weight (grams)    4177 non-null   float64
 5   Shucked weight (grams)  4177 non-null   float64
 6   Viscera weight (grams)  4177 non-null   float64
 7   Shell weight (grams)    4177 non-null   float64
 8   Rings                   4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [ ]:
X = df.loc[:,['Length (mm)','Diameter (mm)','Height(mm)','Whole weight (grams)','Shucked weight (grams)','Viscera weight (grams)','Shell weight (grams)','Rings']]
X.shape

(4177, 8)

In [ ]:
y = df.loc[:,['Sex']].values

In [ ]:
y.shape

(4177, 1)

In [ ]:
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X);

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn_class = KNeighborsClassifier()
print(knn_class)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
knn_class.fit(X,y)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
predictions = knn_class.predict(X)
predictions

array(['I', 'I', 'F', ..., 'M', 'F', 'M'], dtype=object)

In [ ]:
score = knn_class.score(X, y)
score

0.6794350011970314

In [ ]:
X = df[['Length (mm)','Diameter (mm)','Height(mm)','Whole weight (grams)','Shucked weight (grams)','Viscera weight (grams)','Shell weight (grams)']]

In [ ]:
y = df['Rings']

In [ ]:
knn_reg = KNeighborsRegressor()
knn_reg.fit(X,y)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

In [ ]:
preds_age = knn_reg.predict(X)
knn_reg.score(X,y)

0.6759392847599678

1. We can use both linear regression and KNN regression to solve the problem.
2. We cannot use linear regression for the classification problem.